
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>智能货架</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <!-- <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    

    <!-- Loading Flat UI -->
    <!-- <link href="/stylesheets/flat-ui.css" rel="stylesheet"> -->

    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->

    <style type="text/css">
      body{
        background-color: rgb(216,218,219);
      }
      .floorBackground{
        text-align: center;
      }
      .boxes{
        margin-top:-16%;
        /*margin-bottom: 17%;*/
        /*margin-top:-150px;*/
      }
      .counts{
        /*margin-top: -12%;*/
        margin-bottom: 4%;
        padding-top: 1%;
        font-size: 200%;
      }
      .box-container{
        text-align: center;
      }
      .count-container{
        /*font-size: 280%;*/
        text-align: center;
      }
      .img-shelf{
        width: 75%;
      }
      .img-box{
        width: 55%;
        height: 100%;
      }
    </style>
    <script type="text/javascript" src = "/javascripts/jquery.js"></script>
    <script type="text/javascript" src = "/javascripts/underscore.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      //基础操作：
      //1. 图片的修改
      //2. 数字的修改
      //3. 模式窗口
      //4. 显示各个种类的数量，当点击时，对该类信息进行介绍
      //系统定义
      var floorCount =4;//货架的层数定义
      var ItemCountEachFloor = 2;//每层货架放置的产品类
      var websocketEventCenter = null;
      var websocket = null;
      // 全局变量
      var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length);
      var wsUriEventCenter = '<%= _wsUriEventCenter %>';
      var epcList = [];
      var PositionsList = new Array();
      var tileList = new Array();
      var antenaIDFloorMap = [];
      antenaIDFloorMap['01'] = 1;
      antenaIDFloorMap['02'] = 2;
      antenaIDFloorMap['04'] = 3;
      antenaIDFloorMap['08'] = 4;
      // var typeImageMap = [
      //                     {itemType:'01', image:'xbox.png', des:'XBOX是由世界最大的电脑软件公司微软所开发，并早在2001年就开始销售的该公司第一代家用游戏主机，其性能相当于索尼的PS2。Xbox Live是Xbox及其后的第二代占据现市场主流的Xbox360专用的多用户在线对战平台。',title: 'xbox游戏机'}, 
      //                     {itemType:'null', image:'box1.png', des:'这个位置没有放置任何东西！', title:'空白'}, 
      //                     {itemType:'default', image:'default.png', des:'这个位置放置的东西还没有制定种类！', title:'未知'}, 
      //                     {itemType:'02', image:'mac.png', des:'MAC（Macintosh,苹果电脑)。中国大陆曾使用“麦金托什”这个译名，但近期此称呼非常罕见，大陆的北京麦金塔用户会也已将电脑名改为“麦金塔”。大陆居民有时候也将麦金塔称为“苹果机”。', title:'苹果电脑'}];
      // var epcTypeList = [{epc:'909603F01234000001010203', itemType:'01'}, 
      //                    {epc:'AD94240019F7AD9151001004', itemType:'01'}, 
      //                    {epc:'AD94240019F7900000101002', itemType:'02'}];


      var typeImageMap = <%- _typeImageMap %>;
      var epcTypeList = <%- _epcTypeList %>;
      function getTypeInfoByType(_type){
        for(var key in typeImageMap){
          if(typeImageMap[key].itemType == _type){
            return typeImageMap[key];
          }
        }
        return null;        
      }

      function carbinetItem(_epc, _itemType){
        this.epc = _epc;
        var itemType = _.find(epcTypeList, function(_epcType){
            return _epcType.epc == _epc;
        });
        if(itemType == null){
          this.itemType = 'default';
        }else{
          this.itemType = itemType.itemType;
        }
      }
      
      function Tile(_count, _image){
        this.image = _image;
        // this.button = _button;
        this.count = _count;
      }
      // function Tile(_image, _button){
      //   this.image = _image;
      //   this.button = _button;
      // }      
      //货架上的不同位置的定义，包括该位置的坐标属性，当前存放的物品类型及其数量，并包含了物品的列表
      function carbinetPosition(x, y){
        this.yfloor = y;
        this.xindex = x;
        this.itemType = null;
        this.itemQuantity = 0;
        this.itemList = new Array();
        this.Tile = null;
      }
      carbinetPosition.prototype.addItem = function(_item) {
          if(_item == null) return false;
          if(this.itemType != null && _item.itemType != this.itemType) return false;

          //此处防止同一个标签重复添加
          var duplicatedItem = _.find(this.itemList, function(__item){
              return _item.epc == __item.epc;
          });
          if(duplicatedItem == null){
            this.itemList.push(_item);
            if(this.itemQuantity <= 0){
              this.itemType = _item.itemType;
            }
            this.itemQuantity ++;
            return true;
          }else{
            return false;
          }
      };
      carbinetPosition.prototype.removeItem = function(_epc){

          var item = _.find(this.itemList, function(_item){
            return _item.epc == _epc;
          });
          if(item != null){
            this.itemList = _.filter(this.itemList, function(_item){
              return _item.epc != _epc;
            });

            var typeInfo = _.findWhere(typeImageMap, {itemType: item.itemType});
            if(typeInfo != null){
                var cmd = {name:'tts', msgType:'push', para: '一' + typeInfo.title + '已离开货架识别范围'};
                websocketEventCenter.send(JSON.stringify(cmd));

            }

            this.itemQuantity = _.size(this.itemList);
            if(_.size(this.itemList) <=0){
              this.itemType = null;
            }
          }
          this.updateShowTile();
      };

      carbinetPosition.prototype.updateShowTile = function(){
        if(this.Tile != null){
          this.Tile.count.html(this.itemQuantity);
          // this.Tile.button.html(this.itemQuantity);
          if(this.itemType == null){
              var map = getTypeInfoByType('null');
              if(null != map){
                this.Tile.image.attr('src', '/images/'+map.image);
              }
          }else{
            var map = getTypeInfoByType(this.itemType);
            if(null != map){
              this.Tile.image.attr('src', '/images/'+ map.image);
            }
          }
        }
      };

      function initCarbinetPositionList(){
        for (var i = 1; i <= 4; i++) {
          for(var index = 1; index <= 4; index++){
            var pos = new carbinetPosition(i,index);
            PositionsList.push(pos);
          }
        };
      }
      $(document).ready(function(){
          initCarbinetPositionList();
          $('#myModal').click(function(){
              closeDetailWindow();
          });

          var floor;
          var index;
          for(floor = 1; floor <= floorCount; floor++){
            for(index = 1; index <= ItemCountEachFloor; index++){

                (function(){
                    var y=floor;
                    var x = index;
                    var count = $('#count_' + y + '_' + x);
                    // var button = $('#btn_'+y+'-'+x);
                    var image = $('#image_'+y+'_'+x);

                    image.click(function(){
                        var pos = findPosByXY(x, y);
                        var typeInfo;
                        if(pos.itemType == null){
                          typeInfo = getTypeInfoByType('null')
                        }else{
                          typeInfo = getTypeInfoByType(pos.itemType)
                        }
                        $('#modal-detail-title').html(typeInfo.title);
                        $('#modal-detail-more').html(typeInfo.des);
                        $('#modal-detail-img').attr('src', '/images/'+typeInfo.image);
                        openDetailWindow();
                        var cmd = {name:'tts', msgType:'push', para: typeInfo.des};
                        websocketEventCenter.send(JSON.stringify(cmd));
                    });
                    // var tile = new Tile(image, button);
                    var tile = new Tile(count, image);
                    var pos = findPosByXY(x, y);
                    if(pos != null){
                      pos.Tile = tile;
                    }
                    tileList.push(tile);

                })(floor, index);
            }
          }
          // setTimeout('testAddSomeItem()', 3000);
          // setInterval('testAddSomeItem()', 8000);
          // setInterval('testRemoveItem()', 3000);
          // testAddSomeItem();

          createWebSocket();
        setInterval(checkWebsocketState, 2000);
      });
      function checkWebsocketState(){
        if(websocket == null) createWebSocket();
      }
      function testAddSomeItem(){
        var item_floor1_1_type1 = new carbinetItem('909603F01234000001010203');
        addItemToFloor(1, item_floor1_1_type1);
        var item_floor1_2_type1 = new carbinetItem('AD94240019F7AD9151001004');
        addItemToFloor(1, item_floor1_2_type1);

        var item_floor2_0103_type1 = new carbinetItem('AD94240019F7900000101002');
        addItemToFloor(2, item_floor2_0103_type1);
        // var pos = PositionsList[0];
        // if(pos.itemQuantity <= 0){

        //   pos.addItem(new carbinetItem('0101', '01'));
        //   pos.addItem(new carbinetItem('0102', '01'));
        //   pos.addItem(new carbinetItem('0103', '01'));
        //   pos.addItem(new carbinetItem('0104', '02'));
        // }
        // else{
        //   pos.removeItem('0101');
        //   pos.removeItem('0102');
        //   pos.removeItem('0103');
        // }

        updateShowTile();
      }
      function testRemoveItem(){
        removeItemByEPC('909603F01234000001010203');
        removeItemByEPC('AD94240019F7900000101002');

        // var item_floor2_0104_type2 = new carbinetItem('0104', '02');
        // addItemToFloor(2, item_floor2_0104_type2);

        updateShowTile();
      }

      function addItemToFloor(_floor, _item){
        for(var key in PositionsList){
          var pos = PositionsList[key];
          if(pos.yfloor == _floor){//放到指定的层
              if(pos.itemType == null || (pos.itemType != null && pos.itemType == _item.itemType)){
                //找到合适的位置了
                return pos.addItem(_item);
              }
          }
        }
      }
      function removeItemByEPC(_epc){
        _.each(PositionsList, function(_pos){
          _pos.removeItem(_epc);
        });
      }

      function updateShowTile(_position){
        _.each(PositionsList, function(_pos){
            _pos.updateShowTile();
        });
      }
      function findPosByXY(_x, _y){
        return _.find(PositionsList, function(_pos){
          return _pos.xindex == _x && _pos.yfloor == _y;
        });
      }

      function openDetailWindow(){
        $('#myModal').modal('show');
      }
      function closeDetailWindow(){
        $('#myModal').modal('hide');
      }
      function clearAllItems(){
          _.each(epcList, function(_epc){
              removeItemByEPC(_epc);
          });
          epcList = [];
      }
      //webSocket
      function createWebSocket() {
          websocket = new WebSocket(wsUri);
          websocket.onopen = function (evt) { onOpen(evt) };
          websocket.onclose = function (evt) { onClose(evt) };
          websocket.onmessage = function (evt) { onMessage(evt) };
          websocket.onerror = function (evt) { onError(evt) };

          websocketEventCenter = new WebSocket(wsUriEventCenter);
          websocketEventCenter.onopen = function(evt){
            console.log('websocketEventCenter open');
          };
          websocketEventCenter.onclose = function(evt){
            console.log('websocketEventCenter close');
          };
          websocketEventCenter.onmessage = function(evt){
            console.log('websocketEventCenter message => ' + evt.data);
          };
          websocketEventCenter.onerror = function(evt){
            console.log('websocketEventCenter error');
          };
      }
      function onOpen(evt) {
      }
      function onClose(evt) {
        console.log('websocket close');
        clearAllItems();
        websocket = null;        
      }
      function onMessage(evt) {
          var tags = JSON.parse(evt.data);
          _.each(tags, function(_tag){
              if(_tag.Event == 'normal' || _tag.Event == 'added'){
                  console.log('onMessage => add ' + _tag.antenaID + '  ' + _tag.epc);
                  if(_.contains(epcList, _tag.epc) == false){
                      epcList.push(_tag.epc);
                  }

                  addItemToFloor(antenaIDFloorMap[_tag.antenaID], (new carbinetItem(_tag.epc)));
                  // addItemToFloor((new Number(_tag.antenaID)).toFixed(), (new carbinetItem(_tag.epc)));
              }else if(_tag.Event == 'deleted'){
                  removeItemByEPC(_tag.epc);
                  console.log('onMessage => deleted ' + _tag.antenaID + '  ' + _tag.epc);
                  //通知标签消失
              }else if(_tag.Event == 'changed'){
                  removeItemByEPC(_tag.epc);
                  addItemToFloor(antenaIDFloorMap[_tag.antenaID], (new carbinetItem(_tag.epc)));
              }
          });

          updateShowTile();
      }
      function onError(evt) {
        console.log('websocket error');
        clearAllItems();
        websocket = null;        
      }      
    </script>
  </head>
  <body>
    <div class="container" id = "container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 floorBackground">
            <img src="/images/title.png"  class="img-shelf">
        </div>
      </div>
      <!-- 第一层 -->
      <div class="row counts">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 count-container">
            <div id="count_1_1">0</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 count-container" >
            <div id="count_1_2">0</div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>    
      </div> 
      <div class="clearfix"></div>   

      <div class="row shelf" >
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 floorBackground">
            <img src="/images/shelf.png" class="img-shelf">
          </div>
      </div>      
      <div class="clearfix"></div>   
      <div class="row boxes" style="">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box-container">
            <div>
            <img src="/images/box1.png" class="img-box" id="image_1_1">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box-container" >
            <div>
              <img src="/images/box1.png" class="img-box" id="image_1_2">
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
      </div>
 
      <!-- 第二层 -->
      <div class="row counts">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 count-container">
            <div id="count_2_1">0</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 count-container" >
            <div id="count_2_2">0</div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>    
      </div>       
      <div class="clearfix"></div>   

      <div class="row shelf" >
          <div class="col-md-12 col-sm-12 col-xs-12 floorBackground">
            <img src="/images/shelf.png" class="img-shelf">
          </div>
      </div>      
      <div class="clearfix"></div>   

      <div class="row boxes" style="">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box-container">
            <div>
            <img src="/images/box1.png" class="img-box" id="image_2_1">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box-container" >
            <div>
              <img src="/images/box1.png" class="img-box" id="image_2_2">
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
      </div>

      <!-- 第三层 -->
      <div class="row counts">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 count-container">
            <div id="count_3_1">0</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 count-container" >
            <div id="count_3_2">0</div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>    
      </div>        
      <div class="clearfix"></div>   
      <div class="row shelf" >
          <div class="col-md-12 col-sm-12 col-xs-12 floorBackground">
            <img src="/images/shelf.png" class="img-shelf">
          </div>
      </div>             
      <div class="clearfix"></div>   
      <div class="row boxes" style="">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
          <div class = "col-lg-4 col-md-4 col-sm-4 col-xs-4 box-container">
            <div>
            <img src="/images/box1.png" class="img-box" id="image_3_1">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box-container" >
            <div>
            <img src="/images/box1.png" class="img-box" id="image_3_2">
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
      </div>

      <!-- 第四层 -->

      <div class="row counts">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 count-container">
            <div id="count_4_1">0</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 count-container" >
            <div id="count_4_2">0</div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>    
      </div>       
      <div class="clearfix"></div>   

      <div class="row shelf" >
          <div class="col-md-12 col-sm-12 col-xs-12 floorBackground">
            <img src="/images/shelf.png" class="img-shelf">
          </div>
      </div>      
      <div class="clearfix"></div>   

      <div class="row boxes" style="">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box-container">
            <div>
            <img src="/images/box1.png" class="img-box" id="image_4_1">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box-container" >
            <div>
              <img src="/images/box1.png" class="img-box" id="image_4_2">
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
      </div>
   
    </div> <!-- /container -->



 <!-- data-toggle="modal" data-target="#myModal" -->     
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
        <h2 class="modal-title" id="myModalLabel" style="text-align: center;">介绍</h2>
      </div>
      <div class="modal-body">
          <div style="text-align: center;">
            <img id="modal-detail-img" src="/images/Pensils@2x.png" alt="Pensils@2x2" class="tile-image">
            <div>
              <h1 id="modal-detail-title">铅笔</h1>
              <p id="modal-detail-more">这是一个铅笔的图标</p>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary" onclick="closeDetailWindow()">关 闭</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
     

    <footer>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <!-- // <script src="js/jquery-ui-1.10.3.custom.min.js"></script> -->
    <!-- // <script src="js/jquery.ui.touch-punch.min.js"></script> -->
    <!-- // <script src="/bootstrap/js/bootstrap.min.js"></script> -->
    <!-- // <script src="js/bootstrap-select.js"></script> -->
    <!-- // <script src="js/bootstrap-switch.js"></script> -->
    <!-- // <script src="js/flatui-checkbox.js"></script> -->
    <!-- // <script src="js/flatui-radio.js"></script> -->
    <!-- // <script src="js/jquery.tagsinput.js"></script> -->
    <!-- // <script src="js/jquery.placeholder.js"></script> -->
    <!-- // <script src="js/jquery.stacktable.js"></script> -->
    <!-- // <script src="http://vjs.zencdn.net/c/video.js"></script> -->
    <!-- // <script src="js/application.js"></script> -->
  </body>
</html>
